.navtab {
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 66px;
}

.navtab__link {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  transition: 0.6s;
  cursor: pointer;
}

.navtab__link:hover {
  opacity: 0.7;
  transition: 0.6s;
}

@media screen and (max-width: 450px) {
  .navtab {
    gap: 24px;
  }

  .navtab__link {
    font-size: 11px;
  }
}
